/* main color color:#757575;  */
/* second color color: #212121; */
/* accent color: #2196F3; */
/* header background color #FFFFFF; */
/* second background color #E5E5E5*/
/* forth background color #F5F4FA */
/* footer background color  #2F303A; */


:root {
    --main-color-text : #757575;
    --second-color-text:#212121;
    --accent-animation-color:#2196F3;
    --first-part-logo-color:#000000;
    --wite-color:#FFFFFF;
    --hero-background-color:#2F303A;
    --background-button-portfolio:#F5F4FA;
    --second--backgroun-color:#E5E5E5;
}

body {
    background:var(--wite-color);
color: var(--main-color-text);
font-family: 'Roboto', Sans-serif;
letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
a { 
text-decoration: none;
}


/* header */
    
.logo{
  color: var(--first-part-logo-color);
}
.footer-logo{
    color: var(--wite-color);
}

.font{
    font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
}
.web{
color: var(--accent-animation-color);
}
.header-list .link{
color: var(--second-color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.9;
    letter-spacing: 0.02em;
}

.contact-nav .link{
color: var(--main-color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.9;
    letter-spacing: 0.02em;
}
.contact-nav .link:hover,
.contact-nav .link:focus,
.header-list .link:hover,
.header-list .link:focus{
color: var(--accent-animation-color);
}
.header-list .link.curent{
color: var(--accent-animation-color);
}

/* hero */
.hero{
    background-color: var(--hero-background-color);
}
.hero-title{
    color: var(--wite-color);
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

.hero-button{
    color: var(--wite-color);
    background-color: var(--accent-animation-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        font-family: 'Roboto', Sans-serif;
}

/* color of all  section title  */
.section .title{
    color: var(--second-color-text);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
}
.title.weight{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        
}
/* section work bgr color */
.bgr{
    background-color:var(--second--backgroun-color);
    
}
.bgr .button{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
}
.section .text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
}
/* section team bgr culor*/
.team{
    background-color: #F5F4FA;
}

/* footer */
.footer{
    background-color: #2F303A;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
}

.contact .maps{
  color: #FFFFFF;  
}

.contact .list{
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
.section .text{
    color: var(--main-color-text);
}
.section .button{
    color:var(--second-color-text);
    background-color:var(--background-button-portfolio);
}
.section .button:hover,
.section .button:focus{
    color: var(--wite-color);
    background-color: var(--accent-animation-color);
}

